.toast-wrap{
  z-index: 9999;
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--card-color);
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%,-150%);
  border-radius: .5rem;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.14), 0px 6px 30px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
  overflow: hidden;
  transition: transform .5s;
  width: calc(100% - 2rem);
  max-width: fit-content;
  &.active{
      transform: translate(-50%,0);
  }

  &::after{
      content: '';
      position: absolute;
      width: 0;
      height: .25rem;
      
      bottom: 0;
      left: 0;
      z-index: 2;
      animation: progress 4s linear;

      @keyframes progress {
          from{
              width: 100%;
          } to {
              width: 0;
          }
      }
  }

  &.error::after{
      background-color: rgba(240, 66, 72, 1);
  }

  &.warning::after{
      background-color: rgba(255, 210, 30, 1);
  }

  &.success::after{
      background-color: rgba(1, 225, 123, 1);
  }

  &-icon{
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10rem;
      z-index: 2;

      & svg {
          height: 1.25rem;
      }

      &::before{
          content: '';
          z-index: 1;
          
          border-radius: 500rem;
          width: 50%;
          aspect-ratio: 1/1;
          position: absolute;
      }
  }

  &.error .toast-wrap-icon{
      background-color: rgba(240, 66, 72, .15);

      &::before{
          background: radial-gradient(50% 50% at 50% 50%, rgba(240, 66, 72, 0.13) 0%, rgba(240, 66, 72, 0.00) 100%);
      }
  }

  &.warning .toast-wrap-icon{
      background-color: rgba(255, 210, 30, .15);

      &::before{
          background: radial-gradient(50% 50% at 50% 50%, rgba(255, 212, 38, 0.11) 0%, rgba(255, 212, 38, 0.00) 100%);
      }
  }

  &.success .toast-wrap-icon{
      background-color: rgba(1, 225, 123, .15);

      &::before{
          background: radial-gradient(50% 50% at 50% 50%, rgba(0, 237, 81, 0.12) 0%, rgba(0, 237, 123, 0.00) 100%);
      }
  }

  &-texts{
      z-index: 2;
      display: flex;
      flex-direction: column;
      line-height: 120%;
      gap: .5rem;

      &-title{
          color: var(--primary-text-color);
          font-size: 1.25rem;
          font-weight: 700;
      }

      &-message{
          color: var(--third-text-color);
          font-size: 1rem;
          font-weight: 400;
      }
  }
  
  
}